<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/writereview.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class = "main">
        <div class = "navigationBar">
            <div class = "Toowalking">투월킹</div>
            <div class = "menu">
                <ul>
                    <li class = "menuItem">산책로 등록</li>
                    <li class = "menuItem">산책로 순위</li>
                </ul>
            </div>
            <div class = "icon">
                <ul>
                    <li>
                        <!-- '지구' 아이콘 이미지 첨부 -->
                    </li>
                    <li>
                        <!-- '알람' 아이콘 이미지 첨부 -->
                    </li>
                    <li>
                        <!-- '사람' 아이콘 이미지 첨부 -->
                    </li>
                </ul>
            </div>
        </div>

        <div class = "container">
            <div class = "header">
                <table class = "headerTable">
                    <td class = "headerIcon close">
                        <span class = "material-symbols-outlined closeBtn">
                        close</span>
                    </td>
                    <td class = "headerIcon review">
                        후기 등록
                    </td>
                    <td class = "headerIcon complete">
                        등록
                    </td>
                </table>
            </div>
            <div class = "itemName">
                <div class = "itemNameText">조정경기장 산책로</div>
            </div>
            <div class = "inputBox inputTitle">제목을 입력하세요. </div>
            <div class = "inputBox inputContent">내용을 입력하세요.</div>
            <div class = "uploadImg">
                <button class = "uploadImgBtn">사진 등록</button>
            </div>
            <div class = "starScore">
                <table class = "starScoreTable">
                    <td class = "starScoreText">
                        별점
                    </td>
                    <td  class="material-symbols-outlined grade">
                        gradegradegradegradegrade
                    </td>
                   
                </table>
                <!-- <ul class = "starScoreList">
                    <li class = "starScoreName">별점</li>
                    <li>
                        <span class="material-symbols-outlined">
                            gradegradegradegradegrade
                        </span>
                    </li>
                </ul> -->
            </div>
            <div class = "difficulty">
                <table class = "difficultyList">
                    <td>난이도</td>
                    <td>
                        <div class = "difficult">
                            <ul>
                                <li class = "difficultyBtn">
                                    <span class="material-symbols-outlined difficultySelect">
                                        radio_button_checked
                                    </span>
                                </li>
                                <li>
                                    상
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div id = "average">
                            <ul>
                                <li class = "difficultyBtn">
                                    <span class="material-symbols-outlined difficultySelect">
                                        radio_button_unchecked
                                    </span>
                                </li>
                                <li>
                                    중
                                </li>
                                
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div id = "easy">
                            <ul>
                                <li class = "difficultyBtn">
                                    <span class="material-symbols-outlined difficultySelect">
                                    radio_button_unchecked
                                    </span>
                                </li>
                                <li>
                                    하
                                </li>
                            </ul>
                        </div>
                    </td>
                </table>
            </div>
        </div>
    </div>
</body>
</html>